@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&display=swap');

.inicio {
  display: flex;
  width: 100%;
  height: 85vh;
  background: linear-gradient(rgba(20, 20, 20, 1),rgba(20, 20, 20, 1)),url(../assets/bgtexture.png);
  background-blend-mode: overlay;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
  justify-content: center;
  margin-left: 6rem;
}

.content h1{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.content h2{
  font-family: 'Monoton', cursive;
  text-transform: uppercase;
  font-size: 3rem;
  color: #515BD4; 
}
.content span{
  margin-left: 8.8rem;
}
.content h3{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
}